<footer th:fragment="footer" class="bg-white border-t border-gray-200 mt-20">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8 flex flex-col md:flex-row justify-between items-center">
        <div class="text-sm text-gray-500">
            &copy; 2026 NorthPark.
        </div>
        <div class="mt-4 md:mt-0 flex items-center space-x-6">
            <a href="/about" class="text-sm text-gray-500 hover:text-gray-900 transition-colors">关于我们</a>
            <a href="/sponsor" class="text-sm text-gray-500 hover:text-gray-900 transition-colors">支持作者</a>
        </div>
    </div>
</footer>